@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Schoolbell&display=swap");

:root {
  --text-color: #0f0f0f;
  --light-text-color: #ffffff;
  --primary-color: #480000;
  --secondary-color: #700000;
  --accent-color: #a20000;
  --alt-gray-color: #707070;
  --alt-dark-gray-color: #3a3a3a;
  --bg-dark-color: #0f0f0f;
  --gray-color: #a1a1a1;
  --bg-color: #f6f6f6;
}

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
main {
  height: auto;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3rem;
  color: var(--text-color);
}

p {
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: var(--text-color);
}

label {
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: var(--text-color);
}

a {
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: var(--text-color);
}

input {
  cursor: pointer;
}

button {
  cursor: pointer;
}

@media (max-width: 1200px) {
  p {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 3rem;
  }
}

/* header styles */
header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  height: 5rem;
}

header h1 {
  color: var(--light-text-color);
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  width: fit-content;
  margin-right: 4rem;
}

.logo-link {
  margin: 1em;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header ul {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style-type: none;
  height: 100%;
  width: 100%;
}

header li {
  height: 100%;

  align-items: center;
  justify-content: left;
}

.nav-list li:nth-child(1) {
  margin-right: auto;
}

.main-links li {
  display: flex;
  width: 7em;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.nav-list li a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.authentication-links-container li {
  display: flex;
  width: 100px;
  height: 100%;
  align-content: center;
  justify-content: center;
  margin: 0.7rem;
}

header .settings-button {
  background-color: transparent;
  border: none;
  margin: 1rem;
  cursor: pointer;
}

header a {
  color: var(--light-text-color);
  text-decoration: none;
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  font-style: normal;
}

.mobile-toggle {
  display: none;
}

@media (min-width: 1201px) {
  header nav {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .mobile-toggle {
    display: block;
    justify-self: left;
    margin-left: auto;
    background: none;
    border-style: none;
  }

  header h1 {
    margin: 1rem;
  }

  header nav {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    top: 5rem;
    z-index: 100;
    background: var(--primary-color);
  }
  header ul {
    flex-direction: column;
  }
  header ul li {
    margin: 0;
  }

  .nav-list li:nth-child(1) {
    margin-right: 0;
  }

  .authentication-links-container li a,
  .nav-list li a {
    padding: 0.3rem;
    font-size: 1rem;
  }

  .authentication-links-container li {
    display: flex;
    width: 100px;
    height: 100%;
    align-content: center;
    justify-content: center;
    margin: 0;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.2rem;
    margin: 0;
  }
  .logo-link img {
    width: 3rem;
    margin: 0rem;
  }
}

@media (hover: hover) {
  header a:hover {
    background-color: color-mix(in srgb, var(--primary-color), white 20%);
  }
}

header a:active {
  background-color: color-mix(in srgb, var(--primary-color), black 20%);
}

header a:focus-visible {
  background-color: color-mix(in srgb, var(--primary-color), white 20%);
}

@media (hover: hover) {
  header button:hover {
    filter: brightness(0.5);
  }
}

header button:focus-visible {
  filter: brightness(0.5);
}

header button:active {
  filter: brightness(1.2);
}

/* settings styles */
.settings-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  right: 0;
  top: 5rem;
  background: var(--bg-color);
  height: auto;
  z-index: 100;
}

.settings-menu ul {
  list-style: none;
  padding: 1rem;
}

.settings-menu li {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
}

.settings-menu label {
  font-size: 1rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background: var(--alt-dark-gray-color);
  padding-bottom: 0;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

footer section {
  width: 100%;
  text-align: center;
}

.mission-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-1.5rem);
}
.mission-container img {
  width: 3rem;
}

.contact div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navigation ul {
  list-style: none;
}

.navigation li {
  margin-top: 0.5rem;
}

footer p {
  color: var(--light-text-color);
  font-size: 1rem;
}
footer h3 {
  color: var(--light-text-color);
  font-size: 2rem;
  font-family: "Figtree";
  font-weight: bold;
  font-style: normal;
}

footer a {
  color: var(--light-text-color);
  text-decoration: none;
  font-size: 1rem;
}

.copyright-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--bg-dark-color);
}

@media (hover: hover) {
  footer a:hover {
    color: color-mix(in srgb, var(--bg-color), red 20%);
  }
}

footer a:active {
  color: color-mix(in srgb, var(--bg-color), darkred 20%);
}

footer a:focus-visible {
  color: color-mix(in srgb, var(--bg-color), red 20%);
}

@media (max-width: 1200px) {
  footer .container {
    flex-direction: column;
  }
}

/* searchable list styles */
.searchable-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  margin-top: 3rem;
  background-color: var(--bg-color);
  border-radius: 10px;
}

.input-group input {
  height: 2rem;
  font-family: "Figtree" sans-serif;
  font-size: 1rem;
  padding-left: 1rem;
  width: 100%;
  border-radius: 0;
  border: none;
  background: transparent;
}

.input-group img {
  position: absolute;
  left: 100%;
  background: transparent;
  height: 100%;
}

.x-icon {
  display: none;
}

.searchable-list ul {
  list-style: none;
  width: 50%;
  gap: 1rem;
  margin-bottom: 5%;
  overflow-y: scroll;
}

.searchable-list li {
  display: flex;
  background: var(--bg-color);
  border-color: var(--bg-dark-color);
  border-style: solid;
  border-radius: 5px;
  height: 10rem;
  justify-content: left;
  align-content: center;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}

.searchable-list li img {
  height: 100%;
  object-fit: contain;
}

.searchable-list li p {
  font-size: 1.4rem;
}

.listing-text-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

/* ==========================================================================
   HOME PAGE
   ========================================================================== */

/* hero styles */
.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("assets/images/lost-and-found.jpg");
  height: 90vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero h2 {
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: var(--light-text-color);
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-size: 4rem;
  font-style: normal;
  width: fit-content;
}

.hero a {
  padding: 10px;
  margin-top: 2rem;
  background-color: var(--accent-color);
  border-color: transparent;
  border-style: none;
  color: var(--light-text-color);
  font-family: "Figtree", sans-serif;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

@media (hover: hover) {
  .hero a:hover {
    background-color: color-mix(in srgb, var(--accent-color), white 20%);
  }
}

.hero a:focus-visible {
  background-color: color-mix(in srgb, var(--accent-color), white 20%);
}

@media (max-width: 1200px) {
  .hero h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 3rem;
  }
  .hero button {
    margin: 2rem;
    font-size: 1rem;
  }
}

/* browse items section styles */

.browse-items {
  display: flex;
  width: 100%;
  height: auto;
}

.browse-items div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.browse-items-button {
  align-self: flex-start;
  font-size: 1.5rem;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 0.5rem;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

.browse-items img {
  width: 40%;
  object-fit: cover;
  margin: 3rem;
}

@media (max-width: 1200px) {
  .browse-items img {
    margin: 1rem;
  }

  .browse-items a {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .browse-items h2 {
    font-size: 2rem;
  }
  .browse-items p {
    font-size: 1.25rem;
  }
  .browse-items a {
    font-size: 1rem;
  }

  .browse-items-button {
    align-self: center;
  }

  .browse-items img {
    width: 90%;
  }

  .browse-items {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
}

@media (hover: hover) {
  .browse-items a:hover {
    background-color: color-mix(in srgb, var(--bg-color), red 20%);
  }
}

.browse-items a:active {
  background-color: color-mix(in srgb, var(--bg-color), darkred 20%);
}

.browse-items a:focus-visible {
  background-color: color-mix(in srgb, var(--bg-color), red 20%);
}

/* infinate carousel */

.infinite-carousel-link {
  text-decoration: none;
}

.infinite-carousel {
  margin: 100px auto;
  width: 90%;
  display: flex;
  overflow-x: auto;
  overflow: hidden;
  touch-action: manipulation;
}

.infinite-carousel::-webkit-scrollbar {
  display: none;
}

.infinite-carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  animation: spin 5s infinite linear;
  list-style: none;
  padding-right: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 20rem;
  padding: 1rem;
  background: rgb(255, 255, 255);
  border: #0f0f0f;
  border-width: 3px;
  border-color: #0f0f0f;
  border-style: solid;
  border-radius: 0.6rem;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.card img {
  width: 100%;
  max-height: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card {
    height: 22rem;
    width: 15rem;
  }
}

/* report items */
.report-items {
  display: flex;
  width: 100%;
  height: 75%;
}

.report-items div {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.report-items button {
  align-self: flex-start;
  font-size: 24px;
  background-color: #ffffff;
  margin-top: 20px;
  padding: 5px;
}
.report-items img {
  width: 40%;
  object-fit: cover;
  margin: 50px;
}

@media (max-width: 1200px) {
  .report-items img {
    margin: 1rem;
  }

  .report-items a {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .report-items {
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    margin-bottom: 8rem;
  }
  .report-items h2 {
    font-size: 2rem;
  }
  .report-items p {
    font-size: 1.25rem;
  }
  .report-items a {
    font-size: 1rem;
    align-self: center;
  }

  .report-items img {
    width: 90%;
  }
}
@media (hover: hover) {
  .report-items a:hover {
    background-color: color-mix(in srgb, var(--bg-color), red 20%);
  }
}
.report-items a:active {
  background-color: color-mix(in srgb, var(--bg-color), darkred 20%);
}

.report-items a:focus-visible {
  background-color: color-mix(in srgb, var(--bg-color), red 20%);
}

/* ==========================================================================
   SIGN IN PAGE
   ========================================================================== */
.sign-in-main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sign-in-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.side-image {
  background-image: url(assets/images/entrance-hallway.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
}

.side-image img {
  margin: 1rem;
}

.sign-in-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.sign-in-form h1 {
  font-family: "Figtree";
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
}
.sign-in-form input {
  width: 80%;
  height: 3rem;
  font-family: "Figtree";
  font-size: 1.2rem;
  padding: 0.5em;
}

.sign-in-form a {
  font-family: "Figtree";
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
}

.sign-in-form button {
  font-family: "Figtree";
  font-size: 1.5rem;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  border: none;
  padding: 0.3em;
  font-style: normal;
  width: 80%;
}

.sign-in-form hr {
  width: 50%;
  margin-bottom: 2rem;
  border-color: var(--accent-color);
}

@media (max-width: 768px) {
  .side-image {
    display: none;
  }
}

@media (hover: hover) {
  .sign-in-form button:hover {
    background-color: color-mix(in srgb, var(--accent-color), white 20%);
  }
}

.sign-in-form button:active {
  background-color: color-mix(in srgb, var(--accent-color), black 20%);
}

.sign-in-form button:focus-visible {
  background-color: color-mix(in srgb, var(--accent-color), white 20%);
}

/* ==========================================================================
   SIGN UP PAGE
   ========================================================================== */
.sign-up-main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sign-up-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.side-image-sign-up {
  background-image: url(assets/images/entrance-hallway.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
}

.side-image-sign-up img {
  margin: 1rem;
}

.sign-up-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.sign-up-form h1 {
  font-family: "Figtree";
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
}
.sign-up-form input {
  width: 80%;
  height: 3rem;
  font-family: "Figtree";
  font-size: 1.2rem;
  padding: 0.5em;
}

.sign-up-form a {
  font-family: "Figtree";
  font-size: 1.2rem;
  font-weight: 700;
  font-style: normal;
}

.sign-up-form button {
  font-family: "Figtree";
  font-size: 1.5rem;
  background-color: var(--accent-color);
  color: var(--light-text-color);
  border: none;
  padding: 0.3em;
  font-style: normal;
  width: 80%;
}

.sign-up-form hr {
  width: 50%;
  margin-bottom: 2rem;
  border-color: var(--accent-color);
}

@media (max-width: 768px) {
  .side-image-sign-up {
    display: none;
  }
}

@media (hover: hover) {
  .sign-up-form button:hover {
    background-color: color-mix(in srgb, var(--accent-color), white 20%);
  }
}

.sign-up-form button:active {
  background-color: color-mix(in srgb, var(--accent-color), black 20%);
}

.sign-up-form button:focus-visible {
  background-color: color-mix(in srgb, var(--accent-color), white 20%);
}

/* ==========================================================================
   ADMIN DASHBOARD PAGE
   ========================================================================== */

/* ==========================================================================
   STUDENT DASHBOARD PAGE
   ========================================================================== */
